# Hugo
/public/
/resources/_gen/
hugo_stats.json
.hugo_build.lock

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node (pour decap-server)
node_modules/

# Logs
*.log

# Big media
static/videos/
*.mp4
*.mov
*.mkv
