{{ define "main" }}
<article class="default-single prose">
  {{ partial "page-header.html" (dict
      "ctx" .
      "wrapperClass" "default-single-header"
      "metaClass" "default-single-meta"
      "descClass" "default-single-description"
      "tagsWrapperClass" "default-single-tags"
      "tagClass" "default-tag"
      "showBreadcrumbs" false
      "dateFormat" "02 janvier 2006"
      "dateSource" "date"
      "showReadingTime" false
  ) }}

  <section class="prose-content">
    {{ .Content }}
  </section>
</article>
{{ end }}
