{{ define "main" }}
<article class="blog-single prose">
  {{ partial "page-header.html" (dict
      "ctx" .
      "wrapperClass" "blog-single-header"
      "metaClass" "blog-single-meta"
      "descClass" "blog-single-description"
      "tagsWrapperClass" "blog-single-tags"
      "tagClass" "blog-tag"
      "showBreadcrumbs" true
      "dateFormat" "02 janvier 2006"
      "dateSource" "date"
      "showReadingTime" true
  ) }}

  <section class="blog-single-body prose-content" id="post-body">
    {{ .Content }}
  </section>

  {{ partial "related.html" . }}
</article>
{{ end }}
